body {
    overflow-y: auto;
    background-color: hsl(240, 3%, 7%);

}

p {
    color: white;

}

h1 {
    color: white;

}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    text-align: center;
    gap: 0.25em;
    vertical-align: middle;
    margin-bottom: 0vh;
  
  }

.page {
    padding-top: 15vh;
    padding-bottom: 15vh;
    vertical-align: middle;

}

#top-bar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  /* width: ; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: hsl(240, 3%, 7%);

}

/* #black-bar {
  position: fixed; 
  top: 0em;
  width: 100%;
  height: ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-position: 50%;
  background-color: hsl(0, 79%, 46%);

} */