@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


:root {
  --main-correct: hsl(115, 29%, 43%);
  --main-wrong-location: hsl(49, 51%, 47%);
  --main-wrong: hsl(240, 2%, 23%);
  --main-interfere: hsl(215, 70%, 43%);

  --default-correct: hsl(115, 29%, 43%);
  --default-wrong-location: hsl(49, 51%, 47%);
  --default-wrong: hsl(240, 2%, 23%);
  --default-interfere: hsl(215, 70%, 43%);

  --lightmode-default-correct: hsl(115, 29%, 50%);
  --lightmode-default-wrong-location: hsl(49, 51%, 55%);
  --lightmode-default-wrong: hsl(240, 2%, 48%);
  --lightmode-default-interfere: hsl(215, 70%, 43%);

  --contrast-correct: orangered;
  --contrast-wrong-location: aquamarine;
  --contrast-wrong: black;
  --contrast-interfere: violet;

  --correct: hsl(115, 29%, 43%);
  --wrong-location: hsl(49, 51%, 47%);
  --wrong: hsl(240, 2%, 23%);
  --interfere: hsl(215, 70%, 43%);

  --darkmode: rgb(17, 17, 18);
  --lightmode: white;
  --background: rgb(17, 17, 18);
  --button-colour: white;
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial;
}

* {
  touch-action: manipulation;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  vertical-align: middle;
  height: 100%;
  overflow-y: hidden;
  justify-content: center;
}

#share {
  font-size: 2em;
  color: white;
  background-color: var(--correct);
  border-radius: 0.2em;
  padding: 0.3em;
  display: none;
}

#stats {
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  justify-content: space-evenly;
}

.stats-numboxes {
  display: flex;
  flex-direction: column;
}

#graph {
  width: 60%;
}

.bar-container {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  margin-block: 0.5em;
  padding: 0%;
  height: 1.2em;
}

.bar {
  width: 100%;
  height: 100%;
  background-color: var(--wrong);
  padding-right: 1em;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.fullscreen-popup {
  z-index: 100;
  visibility: hidden;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-self: center;
  text-align: center;
  overflow-y: auto;
  background-color: rgb(17, 17, 18);
  border: none;
  justify-content: center;
  color: white;
  padding: 2em;
}

.screen-popup {
  z-index: 99;
  visibility: hidden;
  display: flex;
  position: fixed;
  width: 50%;
  height: 80%;
  align-self: center;
  text-align: center;
  overflow-y: hidden;
  background-color: rgb(17, 17, 18);
  border-radius: 0.5em;
  border: 0.2em solid white;
  color: white;
  padding: 1em;
  
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-colourblind {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--correct);
  transition: .05s;
}

.slider-colourblind:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: lightgrey;
  transition: .05s;
}

input:checked + .slider-colourblind {
  background-color: orangered;
}

input:focus + .slider-colourblind, input:checked + .slider-background {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-colourblind:before, input:checked + .slider-background:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider-background {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: .05s;
}

.slider-background:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: lightgrey;
  transition: .05s;
}

input:checked + .slider-background {
  background-color: white;
}


#top-bar {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu-button {
  font-size: 3em;
  border: none;
  text-decoration: none;
  color: var(--button-colour);
}

#title {
  display: inline-grid;
  grid-template-columns: repeat(14, auto);
  text-align: center;
  gap: 0.25em;
  vertical-align: middle;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
  align-self: center;
  position: fixed; 
  bottom:2%;
  width:100%;
}

.finished {
  background-color: rgba(17, 17, 18, 0.8);
  position:absolute;
  margin: auto;
  height: 200%;
  width:100%;
  display: flex;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover, .key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.game-area {
  margin-top: auto;
  margin-bottom: auto;
}

.grid-container {
  text-align: center;
  vertical-align: middle;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  text-align: center;
  gap: 0.25em;
  vertical-align: middle;
  margin-bottom: 20vh;

}

.help-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  text-align: center;
  gap: 0.25em;
  vertical-align: middle;
  margin-bottom: 0vh;

}

.answer-box {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  margin-bottom: 1em;
  margin-left: -0%;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  text-align: center;
  gap: 0.25em;
}


.tile {
  font-size: 1.5em;
  line-height: 1.75em;
  color: white;
  border: .05em solid var(--wrong);
  width: 1.75em;
  height: 1.75em;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  vertical-align: middle;
  font-weight: bold;
  user-select: none;
  transition: transform 100ms linear;
}

.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
  border: none;
  background-color: var(--wrong);
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: var(--wrong-location);
}

.tile[data-state="correct"] {
  border: none;
  background-color: var(--correct);
}

.tile[data-state="interfere"] {
  border: none;
  background-color: var(--interfere);
}


.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}


.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.top-bar-spacing {
  padding-inline: 0.8em;
}

@media only screen and (max-width: 145vh) {
  .tile.title {
    font-size: 1em;
  }
  .screen-popup {
    width: 70%;
  }
  .top-bar-spacing {
    padding-inline: 0.5em;
  }
  .menu-button {
    font-size: 2em;
  }
  }


@media only screen and (max-width: 150vh) {
  .tile.title {
    font-size: 1.3em;
  }
  }
  

@media only screen and (max-width: 130vh) {
  .tile.title {
    font-size: 1.1em;
  }
  }

@media only screen and (max-width: 110vh) {
  .tile.title {
    font-size: 0.9em;
  }
  }

@media only screen and (max-width: 95vh) {
  .keyboard {
    width: 100%;
    grid-row-gap: .75em;
    margin-bottom: 1em;
  }
  .key {
    padding: 1.75em;
  }
}

@media only screen and (max-width: 80vh) {
    .keyboard {
      grid-row-gap: 2.3em;
    }
    .key {
      padding-right: 1.75em;
      padding-left: 1.75em;
      padding-top: 2.5em;
      padding-bottom: 2.5em;
  
    }
}